@media screen and ( max-width : 700px ){
    .conocenos{
        width : 100%;

        &_desc{
            display        : flex;
            align-items    : center;
            flex-direction : column;
        }

        &_other{
            display         : flex;
            align-items     : center;
            flex-direction  : column;
            justify-content : space-between;
            width           : 100%;

            &-person{
                width : 100%;
                img{
                    display : none;
                }
            }
        }
    }
}

@media screen and ( max-width : 400px ){
    .conocenos_desc{
        h3{
            font-size : 1.4em;
        }
    }
}
