extends menu.pug

block append charts
    div#conocenos.conocenos.charts
        div.conocenos_desc
            h3 Comunicación Satelital
            p Centro Universitario del Sur
        div.conocenos_other
            div.conocenos_other-person
                img(src='images/team-1.jpg')
                p José Francisco Valencia Gasca
            div.conocenos_other-person
                img(src='images/team-2.jpg')
                p Derian Martín Pinto Cortés
            div.conocenos_other-person
                img(src='images/team-3.jpg')
                p Salvador Camacho Berbera
                
