extends layout.pug

block content
    section.index
        div.index_container
            div.index_container-img
                img(src='images/combo_chart-96.png')
            div.index_container-tit
                h1 CanSat
            div.index_container-desc
                p Medición y muestreo de temperatura, humedad, presión y ubicación GPS.
            div.index_container-button
                a(href='http://localhost:3000/conocenos') Iniciar
