doctype html
html
    head
        title= titulo
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='node_modules/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='node_modules/font-awesome/css/font-awesome.min.css')
    body
        block content


        include scripts.pug
