script(src="node_modules/jquery/dist/jquery.min.js")
script(src="node_modules/bootstrap/dist/js/bootstrap.min.js")
script(src="javascripts/Chart.bundle.min.js")
script(src="javascripts/nav.js")
script(src="javascripts/selected.js")
script(src="javascripts/chart_temperatura.js")
script(src="javascripts/chart_humedad.js")
script(src="javascripts/chart_presion.js")
script(src="javascripts/chart_geolocalizacion.js")
//-script(src='https://maps.googleapis.com/maps/api/js?sensor=false')
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxSF2LFerDVYhaTeIDIGAdtLFx7Mxedyc&callback=initMap" async defer)
//--
//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOvyM-nF43PSoCr4K7JpAttljvkfCL2lk")
//- script(type='text/javascript' src='https://maps.googleapis.com/maps/api/js?v=3.exp&'+'callback=initMap')


//--  AIzaSyCOvyM-nF43PSoCr4K7JpAttljvkfCL2lk
//- AIzaSyCxSF2LFerDVYhaTeIDIGAdtLFx7Mxedyc
